.section-login {
    background-color: rgba(0, 44, 55, 0.8);
    width: 50%;
    border: 1px solid grey;
    margin:  4% auto;

    .loginBox {
        width: 80%;
        margin: auto;
        padding: 5%;
    }

    .btn {
        margin: 3%;
    }

    .signIn {
        color: white;
    }
    
    a:hover {
        text-decoration: none;
        color: #ff9800;
    }
    .signuptext {
        color: white;
    }

    a.login {
        color: #E65100;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid #E65100;
        box-shadow: 0 1px 0 0 #E65100;
      }
      .input-field .prefix.active {
        color: #E65100;
      }
    
    .input-field input[type=text] {
        color: white;

    }
    .input-field .prefix {
        color: white;

    }
    .input-field input[type=text].valid {
        border-bottom: 1px solid #E65100;
        box-shadow: 0 1px 0 0 #E65100;
    }
   
}
